.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.2);
  z-index: 20;
}
.modal-overlay {
  min-width: 300px;
  position: absolute;
  left: 35vw;
  top: 10vh;
  width: 30vw;
  height: 55vh;
  z-index: 50;
  background-color: white;
  border-radius: 15px;
}
@media (max-width: 700px) {
  .modal-overlay {
    left: 30%;
  }
}
@media (max-width: 600px) {
  .modal-overlay {
    left: 20%;
  }
}
@media (max-width: 400px) {
  .modal-overlay {
    left: 10%;
  }
}

@media (max-width: 350px) {
  .modal-overlay {
    left: 5%;
  }
}
@media (max-width: 300px) {
  .modal-overlay {
    width: 100%;
    left: 0;
  }
}
