.validdate {
  border: 2px solid greenyellow;
  padding: 5px;
  width: 90%;
}
.invaliddate {
  padding: 5px;
  border: 2px solid red;
  width: 90%;
}
.dateinput {
  padding: 5px;
  border: none;
  width: 90%;
  border-bottom: 1px solid black;
}
.error {
  color: red;
  font-size: 12px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.label {
  width: 50%;
}
